

.battle-tag-header {
	display: block;
	text-align: center;
	width: 280px;
}

body { font-family: 'Exocet Light'; }

.body {
	display: inline;
	background-image: url('http://blogs-images.forbes.com/insertcoin/files/2014/06/diablo3.jpg');
	background-repeat: stretch;
	background-size: cover;
	color: white;
	text-shadow: 2px 2px #000000;
}

.body2 {
	background-image: url('http://images.mrlazyinc.com/games/diablo3/wallpaper_1920x1080.jpg');
	background-repeat: stretch;
	background-size: cover;
	color: red;
	text-shadow: 2px 2px #000000;
}

 @font-face {
	 font-family:"Exocet Light";
	 src:url("EXL_____.eot?") format("eot"),
	 url("EXL_____.woff") format("woff"),
	 url("EXL_____.ttf") format("truetype"),
	 url("EXL_____.svg#ExocetLight") format("svg");
	 font-weight:normal;
	 font-style:normal;
}

.search-bar {
	display: inline;
}

.hero {
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 0px;
}
.hero-equipment {

}
.tag-name {
	width: 250px;
}