

html { height: 101%; }
body { font-family: 'Exocet Light'; }

@font-face {
 font-family:"Exocet Light";
 src:url("EXL_____.eot?") format("eot"),
 url("EXL_____.woff") format("woff"),
 url("EXL_____.ttf") format("truetype"),
 url("EXL_____.svg#ExocetLight") format("svg");
 font-weight:normal;
 font-style:normal;
}

@keyframes heart-beat{
  60%  {transform: scaleY(1.04);}
  80%  {transform: scaleY(0.92);}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 0; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: 30px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.bottom-runner {
	background-color: black;
	position: fixed;
	bottom: 0px;
	min-height: 25px;
	width: 100%;
	box-shadow: 0px -15px 25px rgba(0,0,0, 1);
}

.heart-beat {
	animation-name: heart-beat;
  animation-duration:800ms;
  animation-delay:400ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	min-height: 100%;
	max-width: 100%;
	background-repeat: stretch;
	background-size: cover;
	color: white;
	text-shadow: 2px 2px #000000;
	background-color: black;
}

.diablo-container {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: black;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	z-index: -1;
	     -webkit-animation: fadeout ease-in-out 20s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadeout ease-in-out 20s; /* Firefox < 16 */
  -ms-animation: ease-in-out fadeout 20s; /* Internet Explorer */
   -o-animation: ease-in-out fadeout 20s; /* Opera < 12.1 */
      animation: ease-in-out fadeout 20s;
  opacity: 0;
}

.diablo {
	position: absolute;
	z-index: -1;
	max-height: 50em;
  -webkit-animation: fadein ease-in-out 15s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein ease-in-out 15s; /* Firefox < 16 */
  -ms-animation: fadein ease-in-out 15s; /* Internet Explorer */
  -o-animation: fadein ease-in-out 15s; /* Opera < 12.1 */
  animation: fadein ease-in-out 15s;
}


.butcher-container {
	position: fixed;
	bottom: 0px;
	right: 10px;
	z-index: -2;
   -webkit-animation: fadein 30s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 30s; /* Firefox < 16 */
  -ms-animation: fadein 30s; /* Internet Explorer */
   -o-animation: fadein 30s; /* Opera < 12.1 */
      animation: fadein 30s;
}

.butcher {
	position: static;
	z-index: -2;
	max-height: 15em;
}

.butcher-light {
	z-index: -3;
	background-color: bottom: 10px;
	right: 10px;
	min-height: 100px;
	min-width: 100px;
	position: absolute;
	bottom: 45px;
	right: 90px;
	box-shadow: 1px -5px 250px rgba(252, 121, 20, 1), 1px -5px 250px rgba(252, 121, 20, 1);
	border-bottom-right-radius: 99%;
  border-bottom-left-radius: 99%;
  border-top-left-radius: 99%;
  border-top-right-radius: 99%;
}

.leoric-container {
	position: fixed;
	bottom: 0px;
	right: 200px;
	z-index: -2;
 -webkit-animation: fadein 20s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 20s; /* Firefox < 16 */
 -ms-animation: fadein 20s; /* Internet Explorer */
 -o-animation: fadein 20s; /* Opera < 12.1 */
 	animation: fadein 20s;
}

.leoric {
	position: fixed
	z-index: -2;
	max-height: 15em;
}

.leoric-light {
	z-index: -1;
	background-color: bottom: 10px;
	right: 10px;
	min-height: 100px;
	min-width: 52px;
	position: absolute;
	bottom: 60px;
	right: 118px;
	box-shadow: 1px -5px 250px rgba(252, 121, 20, 1), 1px -5px 250px rgba(252, 121, 20, 1);
	border-bottom-right-radius: 99%;
  border-bottom-left-radius: 99%;
  border-top-left-radius: 99%;
  border-top-right-radius: 99%;
}

.tyrael-container {
	position: fixed;
	top: 100px;
	right: 10px;
	z-index: -2;
   -webkit-animation: fadein ease-in 40s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein ease-in 40s; /* Firefox < 16 */
  -ms-animation: fadein ease-in 40s; /* Internet Explorer */
   -o-animation: fadein ease-in 40s; /* Opera < 12.1 */
      animation: fadein ease-in 40s;
}

.tyrael {
	position: fixed
	z-index: -2;
	max-height: 15em;
}

.auriel-container {
	position: fixed;
	bottom: 200px;
	right: 150px;
	z-index: -2;
 -webkit-animation: fadein ease-in 30s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein ease-in 30s; /* Firefox < 16 */
 -ms-animation: fadein ease-in 30s; /* Internet Explorer */
 -o-animation: fadein ease-in 30s; /* Opera < 12.1 */
 	animation: fadein ease-in 30s;
}

.auriel {
	position: fixed
	z-index: -50;
	max-height: 15em;
}

/*.auriel-light {
	z-index: -1;
	background-color: bottom: 10px;
	right: 10px;
	min-height: 35px;
	min-width: 35px;
	position: absolute;
	bottom: 60px;
	right: 118px;
	box-shadow:  1px -5px 150px rgba(255, 255, 255, 1), 1px -5px 150px rgba(255, 255, 255, 1), 1px -5px 150px rgba(255, 255, 255, 1), 1px -5px 150px rgba(255, 255, 255, 1), 1px -5px 150px rgba(255, 255, 255, 1), 1px -5px 150px rgba(255, 255, 255, 1);
	border-bottom-right-radius: 99%;
  border-bottom-left-radius: 99%;
  border-top-left-radius: 99%;
  border-top-right-radius: 99%;
}*/

.container {
	padding: 0 0 0 0;
	display: inline;
}

.search-bar-and-heros-container {
	cursor: url('/Public/images/CursorDI.png'), auto;
	max-width: 33%;
	margin-top: 20px;	
	margin-left: 30px;
	float: left;
	display: inline;
	overflow: auto;
}

.search-bar-inputs {
	position: absolute;
	left: 20px;
	top: 20px;
 -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
 -moz-animation: fadein 10s; /* Firefox < 16 */
 -ms-animation: fadein 10s; /* Internet Explorer */
 -o-animation: fadein 10s; /* Opera < 12.1 */
  animation: fadein 10s;
}

.hero-names {
	padding-top: 3px;
	padding-bottom: 20px;
	background-color:  rgba(0,0,0, .75);
}
.hero {
	margin-left: 40px;
	font-weight: bold;
	cursor: url('/Public/images/CursorDI.png'), auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 0;
}
	/*text-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) , -20px -20px 40px rgb(255,174,52) , 20px -40px 50px rgb(236,118,12) , -20px -60px 60px rgb(205,70,6) , 0 -80px 70px rgb(151,55,22) , 10px -90px 80px rgb(69,27,14);*/
.hero:hover {
	text-shadow: 5px 0px 20px rgba(252, 121, 1, 1),
	-10px 0px 20px rgba(252, 121, 1, 1), 0px 0px 20px rgba(252, 121, 1, 1);
	font-weight: bold;
}
/*	text-shadow: 1px -1px 2px orange;
	color: #8C001A;*/

.hero-equipment-container {
	position: absolute;
	right: 20px;
	top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	cursor: default;
	width: 66%;
	display: inline;
	margin-top: 20px;	
/*	margin-right: 30px;*/
	float: right;
}

	/*text-shadow: 1px -5px 20px rgba(252, 121, 1, 1);*/
.hero-equipment {
	background-color: rgba(0,0,0, .9);
	margin-left: 20px;
	text-align: center;
	color: rgba(229, 228, 226, 1);
	cursor: default;	
	text-align: center;
	width : 50%;
	float: right;
}
 	/*text-shadow: 1px -5px 20px rgba(252, 121, 1, 1);*/

.border {
  margin: 20px 55px 20px 55px;
	border-bottom: thin solid #8C7300;
	animation: 	glow 2s infinite	alternate;
}
@keyframes glow {
    to {
	box-shadow	: 5px 0px 10px rgba(252, 121, 1, 1),
	-10px 0px 20px rgba(252, 121, 1, 1), 0px 0px 10px rgba(252, 121, 1, 1);
    }
}

.hero-equipment-header {
	  font-weight: bold;
    margin-left: 5px;
    text-align: center;
    color: #5C3317;
    text-shadow: 0px -1px 1px red, 0px 1px 1px rgba(252, 121, 1, 1);
    font-size: 20px;
}

.hero-equipment-header:hover {
	box-shadow	: 5px 0px 10px rgba(252, 121, 1, 1),
	-10px 0px 20px rgba(252, 121, 1, 1), 0px 0px 10px rgba(252, 121, 1, 1);
}

.hero-equipemnt-table {
	margin-left: auto;
	margin-right: auto;
}
.equipmennt-scroll {
}
.equipment-cell {
	margin: 0;
	padding: 0;
}
.equipment-scroll {
}
.red {
	padding-left: 10px;
	display: inline;
	color: #8C001A;
}

.hero-stats {
	font-weight: bold;
	text-align: center;
	width: 50%;
	background-color: rgba(0,0,0, .9);
	float: right;
}
.hero-stats-header {
	margin-right: 5px;
	padding-top: 	10px;
	min-height: 60px;
	font-weight: 	bold;
	color: #5C3317;
  text-shadow: -1px 0px 1px red, 1px 0px 1px rgba(252, 121, 1, 1);
  font-size: 20px;
}

.hero-stats-header:hover {
	box-shadow	: 5px 0px 10px rgba(252, 121, 1, 1),
	-10px 0px 20px rgba(252, 121, 1, 1), 0px 0px 10px rgba(252, 121, 1, 1);
}
/*	text-shadow: 1px -2px 25px rgba(229, 228, 226, .5);*/
	/*text-shadow: 1px -2px 25px rgba(229, 228, 226, .5);*/
.stat-listing {
	color: #8C7300;
	text-align: left;
}
.stat {
	display: inline;
}
.hero-equipment-table {
	margin-left: auto;
	margin-right: auto;
}
.equipment-cell {
	margin: 0;
	padding: 0;
}
	/*text-shadow: .5px -1px 20px rgba(252, 121, 1, 1);*/
.chara-stat {
	margin-right: 10px;
	display: inline;
	text-align: right;
	float: right;
}

.background {
	padding: 0 0 0 0;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
    opacity: 1;
    -webkit-animation: fadein ease-in 45s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein ease-in 45s; /* Firefox < 16 */
  	-ms-animation: fadein ease-in 45s; /* Internet Explorer */
  	-o-animation: fadein ease-in 45s; /* Opera < 12.1 */
  	animation: fadein ease-in 45s;
}

/*.delay-fade {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}*/

.delay-fade-out  {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  animation-delay: 15s;
}